{% extends "static_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h2>{% trans 'Are you sure you want to delete this property?' %}</h2>
    <p><strong>{% trans 'Property Name:' %}</strong> {{ property.name }}</p>
    <p><strong>{% trans 'Address:' %}</strong> {{ property.address }}</p>
    <p><strong>{% trans 'Rental Price:' %}</strong> {{ property.rental_price }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans 'Delete Property' %}</button>
        <a href="{% url 'update_property' property.id %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
    </form>
</div>
{% endblock %}