<!-- COMANDO PARA EXTENDER CODIGO DE ARCHIVO INDICADO -->
{% extends "static_base.html" %}
<!-- COMANDO DE CARGA DE ARCHIVOS EN STATIC -->
{% load static %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <!-- Item Carrusel 1 -->
        <div class="carousel-item active">
            <img src="{% static 'images/carusel1.jpg' %}" class="d-block w-100" alt="Image 1">
            <div class="carousel-caption d-none d-md-block text-black">
                <h5>Espacio para todos</h5>
                <p>¿Arrendador? ¿Arrendatario? Aquí puedes buscar o crear según tus necesidades.</p>
            </div>
        </div>
        <!-- Item Carrusel 1 -->
        <div class="carousel-item">
            <img src="{% static 'images/carusel2.jpg' %}" class="d-block w-100" alt="Image 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>En todo lugar</h5>
                <p>Revisa nuestro catálogo o tus nuevas solicitudes donde sea.</p>
            </div>
        </div>
        <!-- Item Carrusel 1 -->
        <div class="carousel-item">
            <img src="{% static 'images/carusel3.jpg' %}" class="d-block w-100" alt="Image 3">
            <div class="carousel-caption d-none d-md-block text-black">
                <h5>Our Home</h5>
                <p>El hogar de tu futuro hogar.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}